
@{
    ViewBag.Title = "ObtenerDatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="modal fade" id="imodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
             <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Actualizar</h4>
            </div>


            <div class="modal-body">


                <div class="form-group">
                    <label>IdActiva</label>
                </div>
                <div class="form-group">

                    <input id="txtIdActiva" runat="server" class="form-control" />

                </div>

                <div class="form-group">
                    <label>NotaCodigo</label>
                </div>
                <div class="form-group">

                    <input id="txtNotaCodigo" runat="server" class="form-control" />

                </div>

                <div class="form-group">
                    <label>Activo</label>
                </div>
                <div class="form-group">

                    <input id="txtActivo" runat="server" class="form-control" />

                </div>

                <div class="form-group">
                    <label>ProcesoMatricula</label>
                </div>
                <div class="form-group">

                    <input id="txtProcesoMatricula" runat="server" class="form-control" />

                </div>


                <div class="form-group">
                    <label>IdUsuario</label>
                </div>
                <div class="form-group">

                    <input id="txtIdUsuario" runat="server" class="form-control" />

                </div>

                <div class="form-group">
                    <label>FechaCreacion</label>
                </div>
                <div class="form-group">

                    <input id="txtFechaCreacion" runat="server" class="form-control" />

                </div>


                <div class="form-group">
                    <label>Visible</label>
                </div>
                <div class="form-group">

                    <input id="txtVisible" runat="server" class="form-control" />

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnactualizar">Actualizar</button>
            </div>
        </div>
       
</div>*@




    