
@{
    ViewBag.Title = "Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Table</h2>

<form>
    <div class="row m-4">
        <div class="col">
            <label class="form-label">Nota de credito</label>
            <input type="text" class="form-control" name="btnNota" value="" id="btnNota" />

            <label class="form-label">Activo</label>
            <input type="text" class="form-control" name="btnActivo" value="" id="btnActivo" />

            <label class="form-label">Proceso Matricula</label>
            <input type="text" class="form-control" name="btnProceso" value="" id="btnProceso" />

            <label class="form-label">IdUsuario</label>
            <input type="text" class="form-control" name="btnUsuario" value="" id="btnUsuario" />

            <label class="form-label">Visible</label>
            <input type="text" class="form-control" name="btnVisible" value="" id="btnVisible" />
            <br />


            <button type="button" id="btnInsertar" class="btn btn-success col-sm-1"><i class="fa-sharp fa-light fa-pen-to-square"></i>&nbsp;Insertar</button><br /> <br />

            @*<button type="button" id="btn-actualizar" class="btn btn-primary col-sm-1">Actualizar</button><br /> <br />*@

            

            
            @*<input type="text" id="txtDato" name="txtDato" />*@



        </div>


    </div>
</form>


<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Ejemplo Crud con MVC en Datable con JQUERY
            </div>
            <div class="card-body">
                <table id="table" class="table">
                    <thead>
                        <tr>
                            <th>Nota de Credito</th>
                            <th>Activo</th>
                            <th>Proceso Matricula</th>
                            <th>IdUsuario</th>
                            <th>Visible</th>
                            <th>Administrador</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                "ajax": {
                    "url": "@Url.Action("Listar","Home")",
                    "type": "GET",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "NotaCodigo" },
                    { "data": "Activo" },
                    { "data": "ProcesoMatricula" },
                    { "data": "IdUsuario" },
                    { "data": "Visible" },
                    {
                        "data": function () {
                            return '<button value="Actualizar"  title="Actualizar" class="btn btn-primary"><i class="fa-sharp fa-light fa-pen-to-square"></i></button>&nbsp;&nbsp;&nbsp;' +
                                '<button value="Eliminar" title="Eliminar" class="btn btn-danger "><i class="fa-solid fa-trash"></i></button>';
                        }
                            
                    },
                    
                ]


        });
            
 });

    </script>

    <script>
        $(document).ready(function () {
            $("#btnInsertar").click(function () {


                // Obtener el valor del input
                var btnNota = $("#btnNota").val();
                var btnActivo = $("#btnActivo").val();
                var btnProceso = $("#btnProceso").val();
                var btnUsuario = $("#btnUsuario").val();
                var btnVisible = $("#btnVisible").val();



                // Realizar la solicitud AJAX
                $.ajax({
                    url: "@Url.Action("InsertarDato", "Home")", // Ruta al método del controlador
                    type: "POST",
                    data: {
                        btnNota: btnNota,
                        btnActivo: btnActivo,
                        btnProceso: btnProceso,
                        btnUsuario: btnUsuario,
                        btnVisible: btnVisible
                    },
                    success: function (response) {
                        console.log(response);
                        // Manejar la respuesta del servidor
                        //if (response.success) {
                        //    alert(response.message);
                        //} else {
                        //    alert("Error: " + response.message);

                        //}
                    },
                    error: function (error) {
                        alert("Error en la solicitud AJAX: " + error.statusText);
                    }
                });
            });
        });

    </script>

    <script>
    $(document).ready(function () {
        $("#btn-actualizar").click(function () {

            // Obtener los datos del formulario
            // Obtener el valor del input
            var btnNota = $("#btnNota").serialize();
            var btnActivo = $("#btnActivo").serialize();
            var btnProceso = $("#btnProceso").serialize();
            var btnUsuario = $("#btnUsuario").serialize();
            var btnVisible = $("#btnVisible").serialize();

            // Realizar la petición AJAX para actualizar
            $.ajax({
                type: "POST",
                url: "@Url.Action("Actualizar", "Home")",
                data: {
                    btnNota: btnNota,
                    btnActivo: btnActivo,
                    btnProceso: btnProceso,
                    btnUsuario: btnUsuario,
                    btnVisible: btnVisible
                },
                success: function (result) {
                    if (result.success) {
                        // Manejar el éxito, por ejemplo, redireccionar a la página de detalles
                        window.location.href = "@Url.Action("Table", "Home")";
                    } else {
                        // Manejar errores de validación si es necesario
                        console.error("Error al actualizar:", result.errors);
                    }
                },
                error: function (error) {
                    // Manejar el error
                    console.error("Error al actualizar:", error);
                }
            });
        });
    });
    </script>

    <script>
        $(document).ready(function () {
            $("#btnCargarDatos").click(function () {
                // Obtener el IdActiva o identificador único del registro a cargar
                var idActiva = obtenerIdActiva(); // Debes implementar la lógica para obtener el IdActiva

                // Realizar la solicitud AJAX para obtener los datos del servidor
                $.ajax({
                    type: "GET",
                    url: "/Home/ObtenerDatos/" + idActiva, // Ajusta la ruta de la acción en tu controlador
                    success: function (data) {
                        // Llenar el formulario con los datos obtenidos
                        llenarFormulario(data);
                    },
                    error: function (error) {
                        console.error("Error al cargar datos:", error);
                    }
                });
            });

            function llenarFormulario(data) {
                // Aquí debes implementar la lógica para llenar tu formulario con los datos obtenidos
                // Por ejemplo, asignar valores a los campos del formulario
                $("#btnNota").val(data.btnNota);
                $("#btnActivo").val(data.btnActivo);
                $("#btnProceso").val(data.btnProceso);
                $("#btnUsuario").val(data.btnUsuario);
                $("#btnVisible").val(data.btnVisible);
                // ... y así sucesivamente
            }

            function obtenerIdActiva() {
                // Aquí debes implementar la lógica para obtener el IdActiva
                // Puede ser desde un campo en la página o algún otro método
                return 1; // Ejemplo, debes ajustar según tu lógica
            }
        });
    </script>


}
